body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-image: url("welcomecopy.jpg");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0,5;
}


.formulier {
    font-family: 'Poppins', sans-serif;
    color:rgb(78, 75, 75);
    margin-top: 300px;
}

.button {
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}

.vak {
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    margin:auto;
    max-width: 500px;
    border: none;
}

.voorwaarden {
    font-size: 11px;
    color: white;
    margin:auto;
}

.login {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 15px;
}

.welkomlogin {
    background-image: url(welcomecopy.jpg);
    background-size:cover;
    opacity: 0.7;
}
.h1 {
    margin-bottom: 50px;

}

.sterretje {
    margin: 25px;
}

.form-check {
    text-align: center;
    margin: auto;
}

.subtekst {
    text-align: center;
    margin-top: 35px;
    color:white;
}
.p {
    text-decoration: underline;
}