body {
    font-family: 'Poppins', sans-serif;
    color: black;
    /*background-image: url("welcome.jpg");*/
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0,5;
}


.formulier {
    font-family: 'Poppins', sans-serif;
    color:rgb(78, 75, 75);
    margin-top: 300px;
}

.button {
    border-radius: 20px;
    text-align: center;
}

.vak {
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border: none;
}

.voorwaarden {
    font-size: 11px;
}

.login {
    text-align: center;
    color: black;
}

.restaurant {
    text-decoration: underline;
    color: rgba(8, 66, 28, 0.575);
    margin-top: 150px;
    text-align: center

}