
    <div class="container-fluid">
        <div class="row formulier">
            <div class="col-4">

            </div>
            <div class="col-4">
            <div class="login"> Login - Registreer </div>
                <form>
                    <div class="form-group">
                      <input type="email" class="form-control vak" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail*">
                    </div>
                    <br>
                    <div class="form-group">
                      <input type="naam" class="form-control vak" id="exampleInputPassword1" placeholder="Naam">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="adres" class="form-control vak" id="exampleInputPassword1" placeholder="Adres*">
                        <small id="emailHelp" class="form-text text-muted" >*Gelieve uw locatievoorzieningen aan te zetten indien u steeds de restaurants in uw buurt wil zien</small>
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input vak" id="exampleCheck1">
                      <label class="form-check-label voorwaarden" for="exampleCheck1">Ik ga akkoord met de gebruikersvoorwaarden en de privacywetgeving van Foodify</label>
                    </div>
                    <br>
                    <div class="button">
                    <button routerLink="restaurants" type="submit" class="btn btn-success button">Login</button>
                    </div>
                  </form>

                  <div class="restaurant">
                      Restaurant aanmelden
                  </div>
                
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>

