.header {
    
    background-color: #245846;
    background-image: url("header.jpeg");
    background-size: cover;
    height: 250px;
    opacity: 0.88;
    
  }
  
  .foodify-btn{
   background-color: transparent;
   border-radius: 20px;
   border: none;
   padding: 10px;
   text-align: center;
   margin-top:20px;
   margin-right: 10px;
}
  
  .title {
     text-align: center; 
     color: black;
     font-weight: lighter;
  }
  
  .name {
     padding-top:30px;
     text-align: center;
     padding-bottom: 40px;
     color: white;
  }
  
  .fa-shopping-cart{
    color: white;
    margin-top: 10px;  
  }
  
   .btn {
   background-color: #245846;
   margin-top: 10px;
   margin-right: 3%;
   float: right;
   padding: 5px 10px;
   text-align: center;
   border-radius: 20px;
 }
  
.fa-chevron-circle-left{
   margin-top: 10px;
   color: #245846;
}
.back-btn {
    border:none;
    background-color: white;
    color:none;
}

table {
   width: 100%;

}
td,th{
   border: 1px solid;
}

form {
   text-align: center;
}

input {
   width: 100%;
   border-radius: 10px;
   height: 30px;
   margin-top:10px;
   margin-bottom: 10px; 
}
 
.order {
   margin: auto;
   width: 70%;
   border:  solid #245846;
   border-radius: 20px;
   background-color: #245846;
   padding: 5px;
}

.table {
   width: 100%;
   color: white;
}

td {
   text-align: left;
   border:none;
   padding: 5px;
   font-weight: 200;
   width: 25%;

}

.titels {
   margin-top: 2px;
   margin-bottom: 2px;
   font-size: 18pt;
   font-weight: lighter;
}



 @media (min-width:600px) {
   .order {
      padding: 40px;
   }
   input {
      height:50px;
      margin-top: 20px;
   }

   .titels {
      margin-top: 20px;
      margin-bottom: 20px;
   }


 }