<!--Header with the title, name of the restorant and a menu-->
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 header">
            <div class="page-header">
                <button class=foodify-btn routerLink="">
                    <h1 class="title">
                        foodify
                    </h1>
                </button>
            </div>

            <h2 class="name">
                Uw Bestelling
                resto_name
            </h2>
        </div>
    </div>



    <div class="col-md-12 titels ">
        <h1>uw Bestelling </h1>
    </div>

    <div class="order">
        <span> aantal personen, menu, resto, prijs, totaalprijs </span>
    </div>

    <div class="col-md-12 titels">
        <h1>uw contactgegevens </h1>

    </div>

    <div class="col-md-12  order ">
        
            <form>
                <div>

                    <input type="firstname" placeholder="voornaam">
                </div>
                <div>

                    <input type="name" placeholder="naam">
                </div>
                <div>

                    <input type="address" placeholder="adres">
                </div>
                <div>


                    <input type="phonenumber" placeholder="telefoonnummer">
                </div>
                <div>

                    <input type="email" placeholder="email">
                </div>
                <div>

                    <input type="date" placeholder="datum">
                </div>

            </form>
        
    </div>

</div>

<button routerLink="/shoppingcart" class="back-btn"><i class="fas fa-chevron-circle-left fa-2x"></i></button>
<button type="button" class="btn btn-success btn-pay " routerLink="/payment">
    pay
</button>