<!--Header with the title-->
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 header">
            <div class="page-header">
                <button class=foodify-btn routerLink="">
                    <h1 class="title">
                        foodify
                    </h1>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- menu's -->
<div class=" px-5">
    <div class="row mb-4 ">
        <div class="col-md-12 text-center page">
            <p class="titels">Menu's</p>
            <p style="font-weight: lighter; font-size: 18px;">Maak een keuze uit één van onze wekelijkse menu's!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 menu">
            <div class="card rounded mb-4" *ngFor="let dish of dishes$ | async">
                <img class="card-img-top" src="assets/{{dish.image}}">

                <table class="card-table my-3 mx-2">
                    <tbody>
                        <tr>
                            <th class="menutext bold dishname">{{dish.name}}</th>
                            <th class="menutext bold price">€ {{dish.price}}</th>
                        </tr>
                        <tr>
                            <td class="menutext restoname" style="font-weight: bold; font-size: 20px;">
                                {{dish.resto_name}}</td>
                            <td class="menutext restoname" style="font-weight: bold; font-size: 20px;">
                                {{dish.resto_name.city_name}}</td>

                        </tr>
                        <tr>
                            <td class="menutext dishinhoud ">{{dish.inhoud}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- routerLink="/shoppingcart" -->
                <div class="text-center">
                    <button (click)="addToShoppingcart(dish,1)" data-bs-toggle="modal" data-bs-target="#Alert"
                        class="btn btn-secondary greenbutton mb-3" type="button">
                        Bestel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Alert -->
    <div class="modal fade" id="Alert" tabindex="-1" aria-labelledby="alertLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <i class="fas fa-shopping-cart fa-2x mt-4" style="color: #245846;"></i>
                <div class="modal-body mt-2">
                    Het menu is toegevoegd aan het winkelmandje!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary greenbutton" routerLink="/shoppingcart"
                        data-bs-dismiss="modal">Ga verder</button>
                </div>
            </div>
        </div>
    </div>

</div>