.header {
    
  background-color: #245846;
  background-image: url("header.jpg");
  background-size: cover;
  height: 250px;
  opacity: 0.88;
  
}

.foodify-btn{
  background-color: transparent;
  border-radius: 20px;
  border: none;
  padding: 10px;
  text-align: center;
  margin-top:20px;
  margin-right: 10px;
  opacity: 0.8;
}

.title {
   text-align: center; 
   color: black;
   font-weight: lighter;
}

.name {
   padding-top:30px;
   text-align: center;
   padding-bottom: 40px;
   color: white;
}

.greenbutton {
  background-color: #245846;
  border-radius: 1rem !important;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 25%;
}
.greenbutton:hover {
  background-color: white;
  color:#245846 
}



.sbtn {
  background-color: #245846;
  margin-top: 10px;
  margin-right: 3%;
  float: right;
  padding: 5px 10px;
  text-align: center;
}

.rounded {
  border-radius: 1rem !important;
  border-color: #896b49;
}

.menutext {   
  font-weight: lighter;
  font-size: 18px;
  padding-left: 14px;
  vertical-align: top;
  color: #896b49;
}

.dishinhoud {
  color: black;
}

.bold {
  font-weight: bolder;
  font-size: 28px;
  color: #245846;
  padding-bottom: 10px;
}

.price {
  width: 16%;
}

.menu {
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
}

.h1 {
  font-size: 18px;
  font-weight: lighter;
}

/* alert */


@media (max-width: 768px) {
  .menu {
    width:100%;
    margin-left:0px;
  }

  .dishname {
    width: 70%;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .price {
    width: 30%;
    font-size: 25px;
  }

  .restoname {
   font-weight: 100;
   font-style: italic;

  }
  .greenbutton {
    
    width: 30%;
  }

}
