.header {
    
  background-color: #245846;
  background-image: url("header.jpg");
  background-size: cover;
  height: 250px;
  opacity: 1;
  
}

.foodify-btn{
  background-color: transparent;
  border-radius: 20px;
  border: none;
  padding: 10px;
  text-align: center;
  margin-top:20px;
  margin-right: 10px;
 
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: white;
  background: transparent;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.titels {
  font-weight: 300;
  font-size: 30px
}


.greenbutton {
  background-color: #245846;
  border-radius: 1rem !important;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 25%;
}
.greenbutton:hover {
  background-color: white;
  color:#245846 
}

.page{
  margin-top: 20px;
}


.sbtn {
  background-color: #245846;
  margin-top: 10px;
  margin-right: 3%;
  float: right;
  padding: 5px 10px;
  text-align: center;
}

.rounded {
  border-radius: 1rem !important;
  border-color: #896b49;
}

.menutext {   
  font-weight: lighter;
  font-size: 18px;
  padding-left: 14px;
  vertical-align: top;
  color: #896b49;
}

.dishinhoud {
  color: black;
}

.bold {
  font-weight: bolder;
  font-size: 28px;
  color: #245846;
  padding-bottom: 10px;
}

.price {
  width: 16%;
}

.menu {
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
}

.h1 {
  font-size: 18px;
  font-weight: lighter;
}

.card-img-top {
  border-top-left-radius: calc(1rem - 1px) !important;
  border-top-right-radius: calc(1rem - 1px) !important;
}


@media (max-width: 768px) {
  .menu {
    width:100%;
    margin-left:0px;
  }

  .dishname {
    width: 70%;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .price {
    width: 30%;
    font-size: 25px;
  }

  .restoname {
   font-weight: 100;
   font-style: italic;

  }
  .greenbutton {
    
    width: 30%;
  }

}
