<!--Header with the title, name of the restorant and a menu-->
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 header">
            <div class="page-header">
                <button class=foodify-btn routerLink="">
                    <h1 class="title">
                        foodify
                    </h1>
                </button>
            </div>

            <h2 class="name">
                Deze week op het menu: 
            </h2>
        </div>
    </div>
<!-- navbar menu -->
    <div class="row">
        <div class="col-md-12 px-4 mt-3 ">
            <button routerLink="/shoppingcart" class="btn sbtn shoppingcart"><i class="fas fa-shopping-cart fa-2x"></i></button>
        </div>
    </div>
</div>
<!-- menu's -->
<div class="container-fluid px-5">
    <div class="row mb-4">
		<div class="col-md-12 text-center">
            <p style="font-weight: bold; font-size: 30px;">Menu's</p>
            <p style="font-weight: lighter; font-size: 18px;">Maak een keuze uit één van onze wekelijkse menu's!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
            <div class="card rounded mb-4" *ngFor="let dish of dishes$ | async" >
                <img class="card-img-top" src="assets/menu1.jpeg">
                <table class="card-table my-3 mx-2">
                    <tbody>
                        <tr>
                            <th class="menutext bold">{{dish.name}}</th>
                            <th class="menutext bold">€ {{dish.price}}</th>
                            
                        </tr>
                        <tr>
                            <td class="menutext">{{dish.resto_name}}</td>
                            
                        </tr>
                        <tr>
                            <td class="menutext">{{dish.inhoud}}</td>
                        </tr>
                    </tbody>
                </table>   
                <div class="text-center">                
                    <button (click)="addToShoppingcart(dish,1)" routerLink="/shoppingcart" class="btn btn-secondary greenbutton mb-3" type="button">
                    Bestel</button>  
                </div>
            </div>    
		</div>
	</div>
</div>