body {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.headimg {
    height: 150px;
    min-height: 150px;
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.imagetext {
    min-height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.navtext {
    font-size: 9pt;
}

.persmargin {
    margin-left: 10px;
    margin-right: 10px;
}

.restoimg{
    width: 35%;
    border-top-left-radius: 0.50rem;
    border-bottom-left-radius: 0.50rem;
}

.tabeltext {   
    font-weight: lighter;
    font-size: 12px;
    padding-left: 14px;
    vertical-align: top;
}

h2 {
    font-size: 14px;
    font-weight: 400;
}

.rounded {
    border-radius: 0.50rem !important;
}

.greenbutton {
    background-color: #245846;
    border-radius: 0.70rem !important;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.buttonrow {
    display:inline-block;
    vertical-align: middle;
    display: flex;
    flex-wrap: nowrap;
}

.flex-container {
    display: flex;
    justify-content: center;
  }

.bottom{
    bottom:0;
}