
<!-- header -->
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 header">
            <div class="page-header">
                <i class="fas fa-bars burger fa-2x"></i>
                <h1 class="title" routerLink="restaurants">
                    foodify
                </h1>
            </div>
            <h3 class="name">
                Naam restaurant
            </h3>
        </div>
    </div>
<!-- invulbalk adres -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-4 mt-3">
                <div class="form-outline">
                    <input type="text" [(ngModel)]="resto_name" id="form1" class="form-control rounded-pill" placeholder="stad"/>
                    <!-- (click)="searchRestaurants()" -->
                    <button class="btn btn-secondary greenbutton">Zoek</button>
                </div>
                <!-- menu type eten -->
                <div class="navbar navbar-expand-lg navbar-light mb-4 flex-container">
                    <nav class="nav d-flex justify-content-between navtext">
                        <a class="p-2 link-secondary" href="#">Italiaans</a>
                        <a class="p-2 link-secondary" href="#">Grieks</a>
                        <a class="p-2 link-secondary" href="#">à la carte</a>
                        <a class="p-2 link-secondary" href="#">Vegan</a>
                        <a class="p-2 link-secondary" href="#">Tapas</a>
                        <a class="p-2 link-secondary" href="#">...</a>
                    </nav>
                </div>
            </div>
        </div>
<!-- wergave restaurants -->
        <!-- resto1 -->
        <div class="card mb-1 rounded">        
            <div class="row">
                <div class="col-12">
                    <table>        
                        <tbody>
                            <td class="restoimg">
                                <img src="assets/resto1.jpeg" class="img-fluid" alt="resto1">
                            </td>
                            <td *ngFor="let restaurant of restaurants$ | async" class="tabeltext">
                                <h2 class="mt-2">{{ restaurants.Resto_name }}</h2>
                                <p style="margin-bottom: 25%;">Italiaans, à la carte</p>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </td> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- eat in / take away / delivery -->
        <div class="row">
            <div class="col-md-12 flex-container mb-4">
                <button class="btn btn-secondary greenbutton" type="button">
                    Eat in
                </button> 
                <button class="btn btn-secondary greenbutton mx-5" type="button">
                    Take Out
                </button> 
                <button class="btn btn-secondary greenbutton" type="button">
                    Delivery
                </button> 
            </div>
        </div>
        <!-- resto2 -->
        <div class="card mb-1 rounded">        
            <div class="row">
                <div class="col-12">
                    <table>        
                        <tbody>
                            <td class="restoimg">
                                <img src="assets/resto2.jpeg" class="img-fluid" alt="resto1">
                            </td>
                            <td class="tabeltext">
                                <h2 class="mt-2">Restaurant 2</h2>
                                <p style="margin-bottom: 25%;">Grieks, à la carte</p>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </td> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- eat in / take away / delivery -->
        <div class="row">
            <div class="col-md-12 flex-container mb-4">
                <button class="btn btn-secondary greenbutton" type="button">
                    Eat in
                </button> 
                <button class="btn btn-secondary greenbutton mx-5" type="button">
                    Take Out
                </button> 
                <button class="btn btn-secondary greenbutton" type="button">
                    Delivery
                </button> 
            </div>
        </div>
    </div>
