body {
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0,60;
}
h1 {
    text-align: center;
    margin-top: 400px;
    margin-bottom: 150px;
    position: center;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 82px;
}
.button {
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    margin-bottom: 200px;
}
.welcome {
    background-image: url("welcome.jpg");
    background-size: cover;
    opacity: 0.85;
}
