body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-image: url("welcomecopy.jpg");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0,5;
}


.formulier {
    font-family: 'Poppins', sans-serif;
    color:rgb(78, 75, 75);
    margin-top: 300px;
    position: center;
}

.button {
    border-radius: 20px;
    text-align: center;
}

.vak {
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    max-width: 500px;
    margin:auto;
    border: none;
}

.voorwaarden {
    font-size: 11px;
    color: white;
    margin:auto;
}

.register {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px;
}

.welkomregister {
    background-image: url(welcomecopy.jpg);
    background-size:cover;
    opacity: 0.7;
}

.form-check {
    text-align: center;
    margin: auto;
}

