
.container-fluid {
   margin:none;
   background-image: url("affirmation.jpg");
   height:100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}


 .foodify-btn{
    background-color: transparent;
    border-radius: 20px;
    border: none;
    padding: 10px;
    text-align: center;
    margin-top:20px;
    margin-right: 10px;
 }
 
 .title {
    text-align: center; 
    color: white;
    font-weight: 300;
 }
 
 
 

 .card {
    background-color: #245846;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    position: center;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 16pt;
 }

 .card-img-top {
    height: 300px;
    width: 200px;
    size: 50px;
    border-radius: 20px;
    margin: auto;
 }


