

    <div class="container-fluid">
        <div class="row formulier">
            <div class="col-4">

            </div>
            <div class="col-4">
            <div>
                <h1>Restaurant aanmelden</h1>
                <p>Ben jij restauranteigenaar en wil je graag met ons samenwerken?</p>
                <p>Vul dan onderstaand formulier in en wij contacteren jou.</p>
            </div>
            <br>
                <form>
                    <div class="form-group">
                      <input type="email" class="form-control vak" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Naam*">
                      <br>
                      <input type="email" class="form-control vak" id="exampleInputFirstname1" aria-describedby="emailHelp" placeholder="Voornaam*">
                    </div>
                    <br>
                    <div class="form-group">
                      <input type="naam" class="form-control vak" id="exampleInputEmail1" placeholder="E-mail*">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="adres" class="form-control vak" id="exampleInputRestaurantname1" placeholder="Restaurantnaam">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="adres" class="form-control vak" id="exampleInputPostalcode1" placeholder="Postcode">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="adres" class="form-control vak" id="exampleInputCity1" placeholder="Plaats">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="adres" class="form-control vak" id="exampleInputTelnr1" placeholder="Telefoonnummer">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="adres" class="form-control vak opmerkingen" id="exampleInputRemarks1" placeholder="Opmerkingen">
                    </div>
                    <br>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input vak" id="exampleCheck1">
                      <label class="form-check-label voorwaarden" for="exampleCheck1">Ik ga akkoord met de algemene voorwaarden van Foodify</label>
                    </div>
                    <br>
                    <div class="button">
                    <button type="submit" class="btn btn-success button">Verstuur</button>
                    </div>
                  </form>

                  <div class="restaurant">
                      Restaurant aanmelden
                  </div>
                
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
