body {
    /*background-image: url("welcome.jpg");*/
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0,60;
    
}

h1 {
    text-align: center;
    margin-top: 400px;
    position: center;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 60px;
}

.button {
    border-radius: 20px;
    text-align: center;
}