<!--Header with the title, name of the restorant and a menu-->
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 header">
            <div class="page-header">
                <button class=foodify-btn routerLink="">
                    <h1 class="title">
                        foodify
                    </h1>
                </button>
            </div>

            <h2 class="name">
                resto naam
                <!--{{restorant.name}}-->
            </h2>
        </div>
    </div>
    

</div>

<button routerLink="/shoppingcart" class="back-btn"><i class="fas fa-chevron-circle-left fa-2x"></i></button>

<button type="button" class="btn btn-success btn-pay "   routerLink="/affirmation">
    <i class="far fa-credit-card" ></i>
 </button>