<body>
<!--Header with the title, name of the restorant and a menu-->
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 header">
            <div class="page-header">
                <button class=foodify-btn routerLink="" *ngFor="let dish of dishes ; let i = index" (click)='deleteDish(i)' >
                    <h1 class="title">
                        foodify
                    </h1>
                </button>
            </div>
        </div>
    </div>
    <!--title, info, shoppingcart with count-->
    <div class="row">
        <div class="col-md-12">
            <button routerLink="/menu" class="back-btn"><i class="fas fa-chevron-circle-left fa-2x" *ngFor="let dish of dishes ; let i = index" (click)='deleteDish(i)' ></i></button>
            <i class="fas fa-shopping-cart fa-2x"></i>
            <h3>
                Winkelmandje
            </h3>
            <p>
                U wilt:
            </p>
        </div>
      
    </div>
  
    <!-- nr of orders, dish, -/+/ delete buttons, remark, price -->
    <div class="row1">
        <div class="col-md-12">
            <div class="cart-single-meal">
                <div class="cart-row " *ngFor="let dish of dishes ; let i = index" >

                    <input  [(ngModel)]="amount"type='number' placeholder='Aantal stuks' min="1" class="col-md-1 mx-3 cart-meal-amount ">
                    <div class="col-md-6 cart-meal-name">
                       {{dish.name}}

                    </div>
                    
                    <div class="col-md-2 cart-meal-price">
                       € {{dish.price}}
                    </div>

                </div><br>
        
            </div>
        </div>

    </div>


    <!--box with costs and prices -->
    <div class="row ">
        <div class="sum">
            <div class="cart-row total-cost-row total">
                <span class="cart-sum-name ">Totaal</span>
                <span class="cart-sum-price"*ngFor="let dish of dishes ; let i = index" > € {{amount * dish.price }} </span>
            </div>



        </div>
    </div>
    <!--buttons to pay or add products -->
    <div class="row">
        <div class="col-md-12">

            <button type="button" class="btn btn-success btn-add" routerLink="/menu" *ngFor="let dish of dishes ; let i = index" (click)='deleteDish(i)' >
                Product wijzigen
            </button>
            <button type="button" class="btn btn-success btn-pay "   routerLink="/order">
                Verder naar bestellen
            </button>
        </div>
    </div>
</div>
</body>