.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
  
}

body {
    overflow-x: hidden;
}


.header {
    
    background-color: #245846;
    background-image: url("header.jpg");
    background-size: cover;
    height: 250px;
    opacity: 0.88;
    
 }
 
 .foodify-btn{
    background-color: transparent;
    border-radius: 20px;
    border: none;
    padding: 10px;
    text-align: center;
    margin-top:20px;
    margin-right: 10px;
    position: fixed;
}

 .title {
     text-align: center; 
     color: black;
     font-weight: lighter;
 }
 
 .name {
     padding-top:30px;
     text-align: center;
     padding-bottom: 40px;
     color: white;
 }
 
 h3 {
     padding-left: 20px;
     padding-top: 30px;
 }
 
 p{
     padding-left: 20px;
 }
 
 .btn {
     background-color: #245846 ;
     color: white;
     border-radius: 20px;
     border-color:#245846;
     margin-left:10px;
     float: left;
     width: 29%;
    
     
 }
 
 .btn:hover {
     background-color: white;
     color:#245846
 }
 .btn-pay {
     float: right;
     /* margin-right: 10px;
     margin-top: 20px; */
     margin:auto;
     width:30%;
     margin-top: 20px;
     padding: 10px;
 }
 .btn-add {
     float: left;
     /* margin-right: 10px;
     margin-top: 20px; */
     margin:auto;
     width:30%;
     margin-top: 20px;
     padding: 10px;
     
 }
 
 .cart-meal-amount {
     
     margin-left: 20px;
     width:10%;
     float: left;
 } 
 .cart-meal-name {
     margin-right:15px;
     width: 30%;
     float: left;
 }

 
 .cart-meal-price {
     float: right;
     text-align:right;
     width:10%;
     margin-right: 20px;
 }
 
 .sum {
    border-style:solid;
    border-width:2px;
    border-color: #895b49;
    border-radius: 20px;
    margin:auto;
    width:98%;
    padding: 10px 20px;
}
 
 .cart-sum-price { 
     float:right;
     
 }
 
 .cart-row {
     margin-bottom: 10px;
 }
 .row{
    margin-top:20px;
}
 
@media (max-width:600px) {
    .name{
        margin-top: 160px;
    }
    .header{
        margin-top:0px;
    }
    .cart-meal-amount {
        width:10%;
   }

   
    .cart-meal-name {
        width: 58%;
    }

    .cart-meal-price{
        width: 12%;        
    }

   
    
    .btn-pay {
        width:40%;
        min-height: 60px;
        
    }
    .btn-add {
        width:40%;        
        min-height: 60px;
    }
}